<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h3>添加ip：</h3>
    <form action="/ip_add" method="get">
        请输入你要生成的ip数量：
        <br>
        <input type="text" name="ip_num">
        <input type="submit" value="确认">
    </form>

    <h3>查找ip：</h3>
    <form action="/ip_select" method="get">
        请输入你要查找的ip：
        <br>
        <input type="text" name="ip_name">
        <input type="submit" value="确认">
        <br>
        你查找的ip在：{{ip_json.src}} -> {{ip_json.dest}} 
    
    </form>

    <h3>编辑ip：</h3>
    <form action="/ip_edit" method="get">
        你要编辑的ip为：{{edit_ip.src}} -> {{edit_ip.dest}}
        <br>
        要修改成：
        <input type="text" name="src_ip" > ->
        <input type="text" name="dest_ip" >
        <input type="submit" value="保存">
    </form>

    <h3>显示当前所有ip：</h3>
    <a href="/admin/">点击显示</a>
    <table>
        <tr>
            <th>src-ip</th>
            <th></th>
            <th>dest-ip</th>
            <th></th>
            <th>操作</th>
        </tr>
        {% for i in datas %}
        <tr>
            <td>{{ i.src }}</td>
            <td> -> </td>
            <td>{{ i.dest }}</td>
            <td></td>
            <td><a href="/ip_delete/?del_ip={{i}}"> 删除 </a></td>
            <td><a href="/edit_ip_gain/?edit_ip={{i}}"> 编辑 </a></td>
        </tr>
        {% endfor %}
    </table>





</body>

</html>